.Skills{
    height: 700px;
}
.Card{
    width: 25%;
    height: 25%;
    padding: auto;
    margin: auto;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.card-title{
    text-align: center;
}
.Skills-title{
text-align: center;
padding-top: 50px;
margin-bottom: 10px;
}
.jb2{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}