.Skills{
    height: auto;
    padding: 80px 0px;
    display:flex;
}
.Card{
    width: 25%;
    height: 25%;
    padding: auto;
    margin: auto;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.card-title{
    text-align: center;
}
.Skills-title{
text-align: center;
height: 20%;
padding-top: 60px;
}
.jb2{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

@media(max-width:700px)
{
    .Skills{
        flex-direction: column;
 
    }
    .Card{
        width: 65%;
        height: 30%;
        margin-bottom: 10%;
    }
}