.Project-Card{
    width: 80%;
    padding: 10px 10px;
    margin: auto;
    justify-content: space-around;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

img{
    height: 75%;
    width: 75%;
    border:2px solid  black;
    border-radius: 15px;
}
.image-container{
    text-align: center;
    padding: 10px;
}
.Project-card-title{

    background-color:black ;
    color: white;
    border-radius: 10px;
    height: 1.5em;
    text-align: center;
    font-size: small;

}
.Cardtext{
 text-align:start;
 font-weight: 500;
}

