
li{
    margin: 40px 20px;
    list-style: none;
    width: 75%;
    size: 50%;
}
/*****connect to project button****/
button {
    background-color: white; /* Blue background */
    border: none; /* Remove borders */
    color: black; /* White text */
    cursor: pointer; /* Mouse pointer on hover */
    width: 100%;
    text-align: left;
    border-radius: 15px;
  }
/*****connect to project button****/

.whatsapp-button{
    background-color: white;
    padding-left: 25%;
}

.contact-title{
    text-align: center;
    margin-top: 15px;
}